

body {
    font-family: var(--font);
    background-color: var(--bg);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 5em;
    height: 90vh
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    width: 20%;
    background-color: var(--white);
    border-radius: 20px;
}


.container .qr-code {
    width: 100%;
    border-radius: 10px;
}

.container .content-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    text-align: center;
}

.container .content-text .title {
    color: var(--color-title);
    font-weight: 700;
    font-size: 18px;
}

.container .content-text .text {
    color: var(--color-text);
    font-size: 16px;
}

.footer {
    background-color: var(--bg-footer);
    color: var(--color-text);
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.footer a {
    color: var(--color-text-footer);
}